:root {
    --primary-color: #1e152a;
    --secondary-color: #f0b32d;
    --accent-color: #931f1d;
    --background-color: #f9a03f; 
}

.logo img {
	width: 100px;
	height: auto;
}
header{
    background-color: #f9a03f;
    display: grid;
    grid-template-columns: 400px 1fr;
    padding: 1rem;
}

.logo{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    
}
header img{
    width: 15%;
}
nav a{
    font-size: 20px;
    color: #1e152a;
    text-decoration: none;
}

h2{
    font-family: 'Open sans';
    font-size: 50px;
    color: var(--secondary-color);
    text-align: left;
    margin-bottom: 15px;
}
p{
    font-family: 'Open sans';
    font-size: 25px;
    color: var(--primary-color);
    line-height: 1.6;
    margin-bottom: 15px;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: var(--primary-color);
}

.hero {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 100px 1fr 100px;
    position: relative;
    text-align: center;
    padding: 40px 0;
}

.hero h1 {
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: 'Bebas Neue';
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.hero article {
    background-color: rgb(0, 0, 0, .9);
    /* position: absolute; */
    padding: 80px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/3;
    padding-bottom: 45px;  

}
.hero article img{
    float: right;
    margin-left: 10px;
    width: 150px;
    height: auto;
}

.hero article p{
    color: white;
    font-size: 30px;
}
.hero img {
    grid-column: 1/5;
    grid-row: 1/4;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
section{
    display: grid;
    gap: 30px;
}
.sociallinks a{
    text-decoration: none;
}
.sociallinks img{
    width: 100px;
    height: auto;
    margin-left: 0px;
    left: 30px;
}
